.parallax__text {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FBD784;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.parallax__text::before {
    flex: 0 0 60px;
    content: "";
    background-color: #FBD784;
    height: 2px;
    margin-right: 20px;
}