.footer__copyright {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 79px 0 0 0;
}

@media screen and (max-width:700px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}