.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__list li {
    margin-bottom: 16px;
}
.footer__list li:first-of-type {
    margin-bottom: 24px;
}
.footer__list li:last-of-type {
    margin: 0;
}