.footer {
    position: relative;
    z-index: 4;
    background-color: #0b1d26;
    display: flex;
    justify-content: space-between;
}

.footer.wraper {
    padding: 200px 70px 120px;
}

@media screen and (max-width:700px) {
    .footer {

    }
}