.popup__item{
    width: 358px;
    height: 27px;
    border: 0;
    border-bottom: 1px solid rgb(0 0 0 / 0.2);
    margin: 0 36px 30px;
    font-family: inherit; 
}

@media screen and (max-width:700px) {
    .popup__item {
        width: 238px;
        height: 27px;
        font-size: 14px;
        line-height: 17px;
        margin: 0 22px 27px;
    }
}